@model IEnumerable<WebApplicationLibrary.Models.Userr>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Kullanıcılar</h2>
<br />

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success"})

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserrNameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserrEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserrPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserrType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserrNameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserrEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserrPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserrType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.UserrID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.UserrID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
