@model WebApplicationLibrary.Models.Activity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>İşlem Sil</h2>

<h3>Bu işlemi Silmek istediğinizden emin misiniz?</h3>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.ActivityID)</dt>
        <dd>@Html.DisplayFor(model => model.ActivityID)</dd>
        <dt>@Html.DisplayNameFor(model => model.Student.NameSurname)</dt>
        <dd>@Html.DisplayFor(model => model.Student.NameSurname)</dd>
        <dt>@Html.DisplayNameFor(model => model.Book.BookTitle)</dt>
        <dd>@Html.DisplayFor(model => model.Book.BookTitle)</dd>
        <dt>@Html.DisplayNameFor(model => model.PickUpDate)</dt>
        <dd>@Html.DisplayFor(model => model.PickUpDate) </dd>
        <dt>@Html.DisplayNameFor(model => model.DueDate)</dt>
        <dd>@Html.DisplayFor(model => model.DueDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.ReturnDate)</dt>
        <dd>@Html.DisplayFor(model => model.ReturnDate)</dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-secondary" })



        </div>

    }





</div>


